DOMAIN=123.45.67.89
FRONTEND_HOST=http://123.45.67.89
ENVIRONMENT=production

PROJECT_NAME="ChemCrow2"
STACK_NAME=chemcrow2

BACKEND_CORS_ORIGINS="http://123.45.67.89"
SECRET_KEY=<python3 -c "import secrets; print(secrets.token_urlsafe(32))">
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=<надёжный_пароль>

POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<надёжный_пароль>

DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend