.DS_Store
data/*
!data/*.md
__pycache__
services/ai-agent/app/data

# fatsapi-fullstack
.venv
.env

.vscode/*
!.vscode/extensions.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*.pyc
.playwright-mcp/*